@{
    Layout = "_Layout";
}

@using Factory.Models;

<h3>Here are all the machines in this category:</h3>

<ol>
    @foreach (Machine machine in @Model["machines"])
    {
        <li><a href='/categories/@Model["category"].Id/machines/@machine.Id'>@machine.Description</a></li>
    }
</ol>

<p><a href='/categories/@Model["category"].Id/machines/new'>Add a new machine</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>