@{
    Layout = "_Layout";
}

<h1>Factory Machine Details: </h1>

<h2>@Model["machine"].Description</h2>
<h3>Category: @Model["category"].Name</h3>

<a href='/categories/@Model["category"].Id/machines/new'>Add another machine</a>
<a href='/categories'>View all categories</a>